#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* width: 100%; */
}

input {
  padding: 10px 5px;
}

.containerList {
  background-color: aqua;
  border-radius: 20px;
  color: black;
  /* padding: 5px; */
  margin: 10px 0;
}

.list{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  border: 1px solid aqua;
  border-radius: 15px;
}

.list:hover {
  background-color: rgb(247, 143, 9);
  cursor: pointer;
}
